.layout-offside-profile {
    margin: 0 auto;
    width: $layout-offside-size;
    height: 400px;
    position: relative;

    .profile__header {
        width: 100%;
        height: 233px;
    }

    .profile__image {
        width: 125px;
        height: 125px;
        margin-left: -62.5px;
        position: absolute;
        left: 50%;
        top: 150px;
        border-radius: 50%;
        border: 1px solid $color-g-cc;

        &:hover {
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
        }
    }

    .profile__image-geoff {
        background-size: contain;
        cursor: pointer;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;

        &:hover {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        }
    }

    .profile__info {
        width: $layout-offside-size;
        height: 167px;
        background-color: $offside-aside-numerico;
        color: $color-g-5f;
    }

    .details__text-header {
        display: block;
        text-align: center;
        width: 100%;
        font-size: 1.2em;
        padding-top: 40px;
        position: absolute;
    }

    .details__text-subheader {
        display: block;
        text-align: center;
        width: 100%;
        font-size: .8em;
        padding-top: 80px;
        position: absolute;
    }

    .profile__info__section-3 {
        float: left;
        display: block;
        width: 33.3%;
        height: 100%;
        position: relative;

        &:last-child {
            width: 33.3%;
        }

        &:nth-child(-n+3) .details-bottom {
            border-right: 1px solid $color-g-5f;
        }
    }

    .details-bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 1px solid $color-g-6a;
        border-bottom: 1px solid $color-g-6a;
        background-color: $offside-aside-numerico;
        cursor: pointer;
        -webkit-transition: background-color, 0.5s, ease-in-out;
        -moz-transition: background-color, 0.5s, ease-in-out;
        transition: background-color, 0.5s, ease-in-out;

        &:hover {
            -webkit-transition: background-color, 0.5s, ease-in-out;
            -moz-transition: background-color, 0.5s, ease-in-out;
            transition: background-color, 0.5s, ease-in-out;
            background-color: $color-g-8d;
            color: $color-g-cc;
        }
    }

    .details__number {
        display: block;
        text-align: center;
        font-size: 1.1em;
        line-height: 1em;
        padding-top: 5px;
        font-weight: 900;
    }

    .details-bottom:hover .details__number {
        color: $orange;
    }

    .details__text {
        display: block;
        text-align: center;
        font-size: .7em;
        padding-bottom: 6px;
    }
}
